<html lang="en">
  <head>
    <title>{{title}}</title>
        <link rel = "icon" href = "/pics/weather.jpg">
    <link rel="stylesheet" href="../css/styles.css" />
  </head>

  <body>
    <div class="main-content">{{>header}}</div>
    
    {{>footer}}  
</body>
</html>